<header class="sheet-header" data-tooltip="{{actor.name}}">
    <h1>{{formInput fields.name value=source.name rootId=partId}}</h1>
    <img class="character-img" src="{{actor.img}}" data-edit="img" data-tooltip="{{actor.name}}" height:"100" width="100"/>
</header>