<div class="character-biography">
<h2 class="borders"><span>{{localize 'Liber.Character.Moral.Titre'}}</h2>
</span>{{formField systemFields.moral value=system.moral localize=true rootId=partId type="select"}}
    <p>Aucune biographie pour le moment.</p>
</div>
